# Ignorar todo por defecto
*

!backend_poros/
!backend_poros/**


!dist/
!dist/**

# Permitir archivos específicos
!main.py
!help_window.py
!icono.ico
!requirements.txt

# Permitir también estos archivos
!.gitignore
!.gitattributes

# No subir caché de Python
backend_poros/__pycache__/
**/__pycache__/
*.pyc
